/* ==========================================================================
   Base
   ========================================================================== */
body {
	background-color: #898989;
}

h1,
p {
	text-align: center;
}

h1 {
	font-size: 25px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
